/*
Theme Name:     demo
Theme URI:      http://rockagency.com.au/
Description:    Full custom base theme for projects at Rock Agency
Author:         Sanjay Hadiya
Author URI:     http://rockagency.com.au/
Version:        3.0
License:        Creative Commons Attribution 4.0 International License
License URI:    http://creativecommons.org/licenses/by/4.0/
*/

/* Global Defaults */ html, body { margin: 0px; padding: 0px; border: 0px; } body { font: 1em/1.25 Arial, Helvetica, sans-serif; }  /* Headlines */ h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-weight: normal; font-family: Arial, Helvetica, sans-serif; }  /* Text Styles */ p, th, td, li, dd, dt, ul, ol, blockquote, q, acronym, abbr, a, input, select, textarea { margin: 0; padding: 0; font: normal normal normal 1em/1.25 Arial, Helvetica, sans-serif; } blockquote { margin: 1.25em; padding: 1.25em } q { font-style: italic; } acronym, abbr { cursor: help; border-bottom: 1px dashed; } small { font-size:.85em; } big { font-size:1.2em; }  /* Links and Images */ a, a:link, a:visited, a:active, a:hover { text-decoration: underline; } img { border: none; }  /* Tables */ table { margin: 0; padding: 0; border: none; }  /* Forms */ form { margin: 0; padding: 0; display: inline; } label { cursor: pointer; }  /* Common Classes */ .clear { clear: both; } .floatLeft { float: left; } .floatRight { float: right; } .textLeft { text-align: left; } .textRight { text-align: right; } .textCenter { text-align: center; } .textJustify { text-align: justify; } .blockCenter { display: block; margin-left: auto; margin-right: auto; } /* remember to set width */ .bold { font-weight: bold; } .italic { font-style: italic; } .underline { text-decoration: underline; } .noindent { margin-left: 0; padding-left: 0; } .nomargin { margin: 0; } .nopadding { padding: 0; } .nobullet { list-style: none; list-style-image: none; }

body {
	width: 1500px;
	margin: auto;
	font-family: myriad-pro, times-new-roman, sans-serif;
}
.c-top{
	width:1000px;
	margin: auto;
}
header {
	margin: 10px 0;
	img {
		width: 140px;
	}
}
nav {
	clear: both;
	display: inline-block;
	float: right;
}
.c-nav{
	margin-top: 10px;
	ul {
		padding: 0;
		li {
			display: inline;
			a {
				color: #8F99A6;
				padding: 10px 10px;
				font-size: 14px;
				text-decoration: none;
				text-transform: uppercase;
				&:hover{
					color: #003056;
				}
				&:active{
					color: #003056;
				}
			}
			&:last-child {
				a {
					padding-right: 0;
				}
			}
		}

	}
}

.c-stage {
	background-image: url(assets/img/stage.jpg);
	
	.c-stage--wrapper {
		background-color: rgba(0,48,86,.6);
		color: #fff;
	}
	.c-stage__content {
		width: 1000px;
		margin: auto;
		padding: 45px 0;
	}
	.c-stage__phone{ 
		background-image: url(assets/img/1.svg);
		background-repeat: no-repeat;
		width: 250px;
		height: 185px;
		margin: auto;
		p {
			padding-top: 120px;
			padding-left: 80px;
			a {
				color: #fff;
			}
		}
	}
	h1 {
		margin-top: 20px;
	}
	.c-stage__moto{
		text-align: center;
	}
	a{
		text-decoration: none;
	}
}
.btn { 
	display: inline-block;
	padding: 10px 20px;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #003056;
	font-size: 13px;
	font-weight: none;
	color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.c-stage__btn {
	margin-top: 20px;
	background: #ae9ca5;
	text-decoration: none;
}
.c-content {
	background-color: #F2F2F2;
}
.c-main-content {
	width: 1000px;
	margin: auto;
	padding: 50px 0;
	h1, h2, h3 {
		color: #003056;
	}
	color: #727273;
}

.post {
	text-align: center;
	.c-cms-content p {
		font-size: 15px;
		line-height: 20px;
		margin: 20px 80px;
		margin-bottom: 30px;
	}
}

.c-content__learn-more {
	overflow: hidden;
	article {
		width: 190px;
		background: #fff;
		margin-left: 25px;
		padding: 20px;
		text-align: center;
		font-family: myriad-pro,sans-serif;
		display: block;
		float: left;
		overflow: auto;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		a {
			text-decoration: none;
		}
		img {
			width: 64px;
			margin-bottom: 20px;
		}
		h2 {
			font-size: 20px;
			font-family: myriad-pro,sans-serif;
			font-weight: normal;
			margin-top: 0;
		}
		p {
			font-size: 14px;
			margin-bottom: 20px;
		}
	}
	article:nth-child(1){
		margin-left: 0;
	}
	.learn-more__contact {
		background: #003056;
		color: #fff;
		h2 {
			color: #fff;
			margin-bottom: 10px;
			text-transform: uppercase;
			span {
				color: #8F99A6;
			}
		}
		.phone {
			a {
				color: #fff;
				font-size: 20px;
				text-decoration: none;
			}
			img {
				width: 20px;
				vertical-align: bottom;
				margin: 0;
				margin-bottom: 5px;
			}
		}
			
		.btn {
			background-color:#8F99A6;
		}
	}
}


.c-bottom {
	background: #8F99A6;
	padding-bottom: 25px;
}
.map {
	background-color: #fff;
	text-align: center;
	margin: auto;
	padding: 160px 0;
	h1 {
		color: #e3e3e3;
		text-transform: uppercase;
		text-weight: normal;
	}
}

.quick-links {
	width: 1000px;
	margin: auto;
	display: block;
	overflow: hidden;
	section {
		width: 308px;
		float: left;
		margin-top: 30px;
		padding-left: 25px;
		font-size: 12px;
		color: #e0e6eb;
		h2 {
			color: #003056;
			font-size: 18px;
			padding: 6px;
			text-transform: uppercase;
			border-bottom: 2px solid #b1b8c1;
		}
		p {
			padding: 6px;
			line-height: 20px;
		}
		li {
			list-style: none;
		}
		.quick-links--latest-news li {
			border-bottom: 2px dotted #b1b8c1;
			padding: 6px;
			a {
				color: #e0e6eb;
				text-transform: uppercase;
				&:hover {
					color: #fff;
					text-decoration: none;
				}
			}
		}
		.quick-links--quick-contact li {
			display: inline;
			img {
				width: 24px;
				margin-left: 5px;
			}
		}
		.quick-links--logo {
			background-image: url(assets/img/1.svg);
			background-repeat: no-repeat;
			margin: auto;
			margin-left: 20px;
			p {
				padding-top: 120px;
				padding-left: 80px;
				font-size: 16px;
				// font-style: italic;
				a {
					color: #fff;
					text-decoration: none;
				}
			}
		}
	}
}

.footer-wrapper {
	width: 1000px;
	margin: auto;
	color: #003056;
	li {
		padding: 30px 0;
		display: inline-block;
		font-size: 13px;
		color: #738da2;
		// margin-left: 10px;
		a {
			// display: block;
			color: #335978;
			&:hover{
				text-decoration: none;
			}
		}
	}
	li:after {
		content: "|";
		margin-left: 5px;
	}
	li:last-child:after {
		content: "";
		margin-left: 0;
	}
	.footer-links {
		float: left;
	}
	.footer-logo {
		float: right;
		padding: 20px;
		img {
			width: 285px;
		}
	}
}


