h1,
.#{$inuit-namespace}alpha {
  margin-bottom: spacer(.5, size("xxl"));
  font-weight: normal;
}

h2,
.#{$inuit-namespace}beta {
  margin-bottom: spacer(.5, size("xl"));
  font-weight: normal;
  @include font-size(size("xl"), 1.3);
}

h3,
.#{$inuit-namespace}gamma {
  margin-bottom: spacer(1, size("l"));
  font-weight: normal;
  @include font-size(size("l"));
}