$table-border: color("brand");

table {
  width: 100%;
}

th,
td {
  padding: $spacing-unit--tiny;
  vertical-align: top;
}
th {
  text-align: left;
  border-bottom: 2px solid $table-border;
  tbody & {
    font-weight: normal;
    border-bottom: 1px solid $table-border;
  }
}
td {
  border-bottom: 1px solid $table-border;
}