.c-skip {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  top: -10px;
  z-index: -999;
  @include attention() {
    width: auto;
    height: auto;
    display: inline-block;
    top: $spacing-unit--small;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
  }
}