.alignleft,
.alignright,
.aligncenter,
.alignnone {
  display: block;
  overflow: hidden; // fix caption margin
  height: auto;
  margin-bottom: spacer(.5);
  // padding: $spacing-unit--small;
  background: color("white");
  border-radius: $base-round;
  box-shadow: 0 0 4px rgba(black, .1);
  // for caption
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.alignleft {
  width: 100%;
  margin-bottom: spacer(.5);
  @include respond-to(wide-palm) {
    width: 40%;
    max-width: 40%;
    float: left;
    clear: left;
    margin-right: spacer(1);
  }
  // for caption
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.alignright {
  width: 100%;
  margin-bottom: spacer(.5);
  @include respond-to(wide-palm) {
    width: 40%;
    max-width: 40%;
    float: right;
    clear: right;
    margin-left: spacer(1);
  }
}

.aligncenter {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.alignnone {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

.wp-caption-text {
  margin: $spacing-unit--tiny $spacing-unit--small;
  @include font-size(size("s"));
  font-style: italic;
  text-align: center;
}