.gallery {
  clear: both;
  overflow: hidden;
  &-item {
    display: block;
    float: left;
  }
  &-icon a {
    display: block;
    padding: $spacing-unit--tiny;
    background: color("white");
    box-shadow: 0 0 4px rgba(black, .1);
    @include attention() {
      box-shadow: 0 0 6px rgba(black, .15);
    }
  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  figcaption {
    display: none;
  }
}