.o-aspect {
  position: relative;

  &:before {
    content: '';
    width: 0;
    height: 0;
    padding-bottom: 100%;
    float: left;
  }

  &--69 {
    &:before {
      padding-bottom: 69%;
    }
  }

  > * {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
}