// Convert px to em
@function em($px, $base: $base-font-size) {
  @return ($px / $base) * 1em;
}

// @description Retrieve theme color
// @param {Key} color name
@function color($key) {
  @if map-has-key($theme-colors, $key) {
    @return map-get($theme-colors, $key);
  }
  @warn "Unknown '#{$key}' in $theme-colors.";
  @return null;
}

//@description  Retrieve modular scale value for font-sizes
// @param  Size key
@function size($key) {
  @if map-has-key($modular_scale, $key) {
    @return map-get($modular_scale, $key);
  }
  @warn "Unknown '#{$key}' in $modular_scale.";
  @return null;
}

// @description Returns z-index based on index of item in list
// @param {List} z-index list the item is in
// @param {Key} the item name to get index of
@function z($list, $element) {
   $z-index: index($list, $element);
   @if $z-index {
      @return $z-index;
   }
   @warn "There is no item '#{$element}'' in this list; choose one of: #{$list}";
   @return null;
}

// @description  Quick and nasty function to help with vertical rhythm. Better off using something more robust, but this is simpler for demonstrating the idea.
// @param lines  How many vertical rhythm lines you want
// @param font-size  Current element's font-size in px
@function relative-rhythm($lines: 1, $font-size: $base-font-size) {
  $rhythm: $base-line-height / $font-size * $lines;
  @return $rhythm;
}

// use this for margins. Outputs em units to maintain relatinship with font-size.
@function spacer($lines: 1, $font-size: $base-font-size) {
  $value: $base-line-height / $font-size * $lines;
  @return $value * 1em;
}
