/*------------------------------------*\
    #ALIASES
\*------------------------------------*/

$spacing-unit:          $inuit-base-spacing-unit;
$spacing-unit--tiny:    $inuit-base-spacing-unit--tiny;
$spacing-unit--small:   $inuit-base-spacing-unit--small;
$spacing-unit--big:     $inuit-base-spacing-unit * 1.5;
$spacing-unit--large:   $inuit-base-spacing-unit--large;
$spacing-unit--huge:    round($inuit-base-spacing-unit * 3);

@mixin respond-to($breakpoint) {
  @include media-query($breakpoint) {
    @content;
  }
}

@mixin font-size($inuit-font-size, $inuit-line-height: auto) {
  @include inuit-font-size($inuit-font-size, $inuit-line-height)
}