$generate-widths-for: medium-palm, wide-palm, lap, desk, wall, wall-wide;

@each $breakpoint in $generate-widths-for {
  @include respond-to(#{$breakpoint}) {
    .u-#{$breakpoint}-one-whole           { width: 100%; }

    /**
     * Halves.
     */
    .u-#{$breakpoint}-one-half,
    .u-#{$breakpoint}-two-quarters,
    .u-#{$breakpoint}-three-sixths,
    .u-#{$breakpoint}-four-eighths,
    .u-#{$breakpoint}-five-tenths,
    .u-#{$breakpoint}-six-twelfths        { width: 50%; }

    /**
     * Thirds.
     */
    .u-#{$breakpoint}-one-third,
    .u-#{$breakpoint}-two-sixths,
    .u-#{$breakpoint}-three-ninths,
    .u-#{$breakpoint}-four-twelfths       { width: 33.3333333%; }
    .u-#{$breakpoint}-two-thirds,
    .u-#{$breakpoint}-four-sixths,
    .u-#{$breakpoint}-six-ninths,
    .u-#{$breakpoint}-eight-twelfths      { width: 66.6666666%; }

    /**
     * Quarters.
     */
    .u-#{$breakpoint}-one-quarter,
    .u-#{$breakpoint}-two-eighths,
    .u-#{$breakpoint}-three-twelfths      { width: 25%; }
    .u-#{$breakpoint}-three-quarters,
    .u-#{$breakpoint}-six-eighths,
    .u-#{$breakpoint}-nine-twelfths       { width: 75%; }

    /**
     * Fifths.
     */
    .u-#{$breakpoint}-one-fifth,
    .u-#{$breakpoint}-two-tenths          { width: 20%; }
    .u-#{$breakpoint}-two-fifths,
    .u-#{$breakpoint}-four-tenths         { width: 40%; }
    .u-#{$breakpoint}-three-fifths,
    .u-#{$breakpoint}-six-tenths          { width: 60%; }
    .u-#{$breakpoint}-four-fifths,
    .u-#{$breakpoint}-eight-tenths        { width: 80%; }

    /**
     * Sixths.
     */
    .u-#{$breakpoint}-one-sixth,
    .u-#{$breakpoint}-two-twelfths        { width: 16.6666666%; }
    .u-#{$breakpoint}-five-sixths,
    .u-#{$breakpoint}-ten-twelfths        { width: 83.3333333%; }

  }
}
